@import 'tailwindcss';

/* Typography */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100; /* Thin */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200; /* Extra Light */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300; /* Light */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400; /* Regular */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500; /* Medium */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600; /* Semi Bold */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700; /* Bold */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800; /* Extra Bold */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900; /* Black */
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
    format('woff');
}

@layer base {
  html {
    font-family: 'Pretendard';
    overflow-y: scroll;
  }
}

@theme {
  --font-pret: 'Pretendard';

  --color-pirmary-500: #6123ff;
  --color-primary-300: #8c6fee;

  --shadow-custom: -1px -1px 16px 0px #eee,
    3px 3px 18px 0px rgba(170, 170, 170, 0.5);

  --animate-hop: hop 1s infinite;

  @keyframes hop {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
